{% extends 'ExodPortfolioBundle::baseFront.html.twig' %}
{% block body %}
	<span style="display:none" id="idarticle">{{article.id}}</span>
	{% include 'ExodPortfolioBundle:Include:profil.html.twig' with {'contenuProfil':contenuProfil} %}
	
	{% include 'ExodPortfolioBundle:Include:menu.html.twig' %}
	
	<div id="wrapMaster">
		<div id="wrapArticle">
			<aside id="floatRightArticle">
				<article id="fini">
					<h1>Avancement</h1>
					<p><div id="progressbar"></div>
					<script type="text/javascript">
						$(document).ready(function() {
							$("#progressbar").progressbar({ value: {{article.idprojet.fini}} });
							//we add height 100% for leftcontent and menu
							$("#centerArticle").mCustomScrollbar();
						});
					</script>
					</p>
				</article>
				<div class="borderGreen"></div>
				<article id="partageArticle">
					<h1>Partager cet article</h1>
					
					<p><a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ app.request.uri }}" data-lang="fr">Tweeter</a>
					<iframe src="http://www.facebook.com/plugins/like.php?href={{ app.request.uri }}&layout=standard&show_faces=false&width=450&action=like&colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; width:100%; overflow: hidden;height:25px"></iframe>
					<!-- Placez cette balise là où vous souhaitez positionner le bouton +1. -->
					<g:plusone annotation="inline"></g:plusone>

					<!-- Placez cet appel d'affichage à l'endroit approprié. -->
					<script type="text/javascript">
					  window.___gcfg = {lang: 'fr'};
					
					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					
					</p>
				</article>
				<div class="borderPurple"></div>
				<article id="documentArticle">
					{% if documents is not empty %}
						<h1>Documents</h1>
						{% for document in documents if documents is not empty%}
							<p class="documentArticle">
								Ajout&eacute; le <time datetime="{{document.date|date('Y-m-d')}}">{{document.date|date('d-m-Y')}}</time> : <a href="{{asset('bundles/exodportfolio/documents/') }}{{document.path}}">{{document.nom}}</a>
							</p>
						{% endfor %}
					{% endif %}
				</article>
			</aside>
			
			<section id="centerArticle">
				<div id="scrollbar1">
					<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
					<div class="viewport">
						<div class="overview">
			
				<h1 id="titreArticle">
					{{article.idprojet.label}}
				</h1>
				<article>
					<h1>Description</h1>
					<p>{% autoescape false %}{{article.idprojet.texte}}{%endautoescape%}</p>
				</article>
				<div class="borderPurple"></div>
				
				<article class="articleImage">
					<h1>Images</h1>
					<p>	<a class="imagesGalerie" href="{{asset('bundles/exodportfolio/images/') }}{{article.idprojet.path}}" title="{{article.idprojet.label}}">
							<img class="imageBordered" src="{{asset('bundles/exodportfolio/images/') }}{{article.idprojet.path}}" alt="{{article.idprojet.label}}"/>
						</a>
						{% for image in images if images is not empty %}
							<a class="imagesGalerie" href="{{asset('bundles/exodportfolio/images/') }}{{image.path}}" title="{{image.nom}}">
								<img class="imageBordered" src="{{asset('bundles/exodportfolio/images/') }}{{image.path}}" alt="{{image.nom}}"/>
							</a>
						{% endfor %}
					</p>
				</article>
				<div class="borderGreen"></div>
				
				{% if actualites is not empty %}
				<article>
					<h1>Actualit&eacute;s</h1>
						{% for actualite in actualites  %}
							<p><strong><time datetime="{{actualite.date|date('Y-m-d')}}">{{actualite.date|date('d-m-Y')}}</time> - Pour le projet {{actualite.idarticle.label}}</strong>: {% autoescape false %}{{actualite.texte}}{%endautoescape%}</p>
						{% endfor %}
				</article>
				<div class="borderPurple"></div>
				{%endif%}
				
				
				<article id="commentaireBlock" >
					<h1>Commentaires</h1>
						{% if commentaires is not empty %}
							{% for commentaire in commentaires  %}
							<div class="commentairesArticle">
								<strong><time datetime="{{commentaire.date|date('Y-m-d')}}">{{commentaire.date|date('d-m-Y')}}</time> - Par <span itemprop="name">{{commentaire.auteur}}</span></strong>
								<p>{{commentaire.texte}}</p>
							</div>
							{% endfor %}
						{% else %}
							<div class="commentairesArticle">
								Aucun commentaire pour le moment, n'h&eacute;sitez pas &agrave; &ecirc;tre le premier
							</div>
						{% endif%}
						
				</article>
				
				<article >
					<h1>Ajouter un commentaire</h1>
					<p>{% include 'ExodPortfolioBundle:Include:champsCommentaire.html.twig' %}</p>
				</article>
				
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div style="clear:both"></div> 
{% endblock %}
