<p class="alignRight">
	Me suivre sur : 
	<span id="reseau_sociaux">
		<a href="https://twitter.com/#!/RG_exod"><img src="{{asset('bundles/exodportfolio/images/icone_tweeter.png')}}" alt="icone tweeter"/></a> 
		<a href="http://about.me/rousselguillaume"><img src="{{asset('bundles/exodportfolio/images/icone_aboutme.png')}}" alt="icone about me"/></a>
		<a href="https://plus.google.com/u/0/111719416459197719190/posts"><img src="{{asset('bundles/exodportfolio/images/icone_gp.png')}}" alt="icone google +"/></a>
		<a href="http://www.facebook.com/people/Guillaume-Roussel/1185898373"><img src="{{asset('bundles/exodportfolio/images/icone_fb.png')}}" alt="icone facebook"/></a> 
		<a href="http://fr.linkedin.com/pub/guillaume-roussel/3b/351/b7b"><img src="{{asset('bundles/exodportfolio/images/icone_linkedin.png') }}" alt="icone linkedin"/></a>
		<a href="http://www.viadeo.com/fr/profile/guillaume.roussel1394"><img src="{{asset('bundles/exodportfolio/images/icone_viadeo.png') }}" alt="icone viadeo"/></a>
	</span>
</p> 
			
<h1>Twittoscope</h1>
<section>
</section>